<nav>
    <div class="site-title">
        
        <a href="/"><h1>TNDB</h1></a>
        <p>The names DATABASE, a wide collection of Nigerian native names and their meanings </p>
    </div>

    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/names/create" style="background: #000; border: 2px solid #000; padding: 5px;">Add your name</a></li>
    </ul>
</nav>
