<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>


   <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About</h2>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad eius magni cumque ipsum sequi neque!</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magnam amet dignissimos aliquam repellat officia possimus earum voluptatem maiores obcaecati.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, quam voluptatibus perferendis ea eius tempora rerum vero illo iste quibusdam.</p>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt expedita quas ab ut temporibus quidem aut quibusdam provident mollitia necessitatibus.</p>
    </div>

   <%- include('./partials/footer.ejs') %>

</body>
</html>